* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}
header {
  margin-top: 50px;
  margin-bottom: 10px;
  padding: 30px 0;
  text-align: center;
  background: rgb(241, 241, 241);
  position: relative;
  .name {
    position: absolute;
    border: 2px solid orange;
    top: 0;
    

    transform: translate(-50%, -50%);
    padding: 10px 30px;
    text-align: inherit;
    left: 50%;

    background: #fff;
    width: max-content;
    .alley{
      text-shadow:    5px -5px orange;
    }
  }
}
.container {
  margin: 10px 0;
  padding: 0 10px 0 70px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  .partB {
    padding-left: 30px;
    border-left: 2px solid orange;
    grid-column: 2 / 4;
    margin-bottom: 50px;
  }
  .partA {
    text-align: right;
    padding-right: 15px;
    li {
      list-style: none;
      margin: 5px 0;
    }
  }
  h3 {
    text-transform: uppercase;
    margin: 20px 0;
  }
  ul {
    padding-left: 50px !important;
  }
  margin-bottom: 50px;
}

@media screen and (max-width: 560px) {
  .container {
    padding: 5px 20px;
    grid-template-columns: 1fr;

    .partB {
      grid-column: 1 / 1;
      border-top: 2px solid orange;
      border-left: 0;

      padding: 10px 0;
      margin-top: 20px;
    }
    .partA {
      text-align: left;
      div {
        margin: 15px 0;
      }
    }
  }
}
